@page "/"
@inject HttpClient Http

<PageTitle>Accueil</PageTitle>

<h1>M4Webapp v2.0</h1>

<p>Plateforme d'apprentissage Microsoft (Microservices version)</p>

<div class="alert alert-info">
    Backend Gateway: 5000 (Docker)
</div>
