receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch: {}

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
  otlp:
    # Envoyer les traces (OTLP gRPC) vers Jaeger all-in-one qui écoute sur 4317.
    # L'endpoint doit être une chaîne. En local, TLS souvent désactivé.
    endpoint: "jaeger:4317"
    tls:
      insecure: true
  logging:
    loglevel: "debug"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, logging]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus, logging]
