/* Styles globaux */
body {
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
